.se{
    .v-btn--icon.v-btn--density-default{
        height: 28px;
        width: 28px;
    }
    .v-pagination__item, .v-pagination__first, .v-pagination__prev, .v-pagination__next, .v-pagination__last{
        margin: 0 0 0 -1px;
        border: 1px solid #CFD4D8;
    }
    .v-pagination .v-btn{
        border-radius: 0;
        .v-btn__content{
            z-index: 2;
        }
    }
    .v-btn--variant-text .v-btn__overlay{
        background-color: #007DF1;
    }
    .v-pagination__item--is-active{
        border-color: #007DF1;
        margin-right: 0px;
        z-index: 2;
        .v-btn__content{
            color: #fff;
        }
        .v-btn__overlay{
            opacity: 1;
        }
        &:hover .v-btn__overlay{
            opacity: 1;
        }
    } 
    .v-pagination__prev{
        border-radius: 4px 0 0 4px;
    }
    .v-pagination__next{
        border-radius: 0 4px 4px 0;
    }
}