// color
$primary: #007DF1;
$primary-hover: #0073DE;
$primary-active: #0069CA;
$primary-80: #3397F4;
$primary-60: #66B1F7;
$primary-50: #80BEF8;
$primary-40: #99CBF9;
$primary-30: #B3D8FB;
$primary-20: #CCE5FC;
$primary-10: #E6F2FE;
$primary-5: #F2F8FE;

$dark: #0F273E;
$dark-80: #3F5265;
$dark-70: #576878;
$dark-50: #87939F;
$dark-40: #9FA9B2;
$dark-30: #B7BFC6;
$dark-20: #CFD4D8;
$dark-10: #E7EAEC;
$dark-5: #F3F4F5;

$secondary: #1AC7D2;
$additional: #FFAB00;
$success: #36B37E;
$danger: #F83A3A;
$dividers: #E6ECF2;
$gray: #576A7B;

// background
$body: #FCFDFF;


